<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>Directories</title>
    </head>
    <body>

        <h1>Available directories</h1>
        <table>
            <tr>
                <th>Directories</th>
            </tr>
            <tr>
                {% for directory in all_directories %}
                <tr>
                <td>{{directory}}</td>
                </tr>
                {% endfor %}
            </tr>
        </table>

        <h1> Add directory </h1>

        <form action="{{url_for("add_directory")}}" method="POST">
            <p>
            <input type="text" placeholder="Directory" name="newDirectory"
                                                       value="{{request.form.newDirectory}}">
            </p>
            <button class="button" value="submit"> Submit </button>
        </form>

        <h1> Delete directory </h1>
        <form action="{{url_for("delete_directory")}}" method="POST">
            <p>
            <input type="text" placeholder="Directory" name="deleteDir"
                                                       value="{{request.form.deleteDir}}">
            </p>
            <button class="button" value="submit"> Submit </button>
        </form>


    </body>
</html>
