<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Index</title>
        {% include "menu.html" %}
    </head>
    <body>
        <div id="options">
            <h1>Welcome to directory navigator</h1>
            <ul>
                <li><a href="directories">Go to directories page</a></li>
                <li><a href="files">Go to files page</a></li>
                <li><a href="favorites">Go to favorites</a></li>
            </ul>
        </div>
    </body>
</html>
